<h2>Change current user</h2>
<p>
  current user is <%= current_user.name %>
</p>
<% form_tag :action => 'change_user' do %>
<p>
  <label>Select user</label>
  <%= select_tag(:user_id, options_from_collection_for_select(@users, :id, :name)) %>
<%= submit_tag "Set current user"%>
</p>
<% end %>