<% content_for :body_content_left do %>
  <div class='home'>
    <%= @page[:body] %>
    <h2>Spelrätter</h2>
    <p>Dagens LaGK bokningar</p>
    
    <p>Dagens EslövGK bokningar</p>
    
    <h2>Tävlingar</h2>
    Kommande tävling är...
  </div>
<% end %>
<%= render :partial => "/shared/content_page" %>
