body { 
	_background-color: #826035;
	background-color: #4F6613;
	color: #4f2617;
	color: #4F6613;
	margin: 25px;
}

#body_content {
	margin: 15px;
	min-height: 500px;
}

#page_container {
	background: #FFFCDE url(/theme/images/header_bg.jpg) repeat-x top;
}

#header {
		height: 340px;
}

#header h1 {
	padding: 10px;
	font-size: 40px;
}

#header a {
	text-decoration: none;
	color: #4f2617;
}

#menu {
	margin: 0px;
	padding: 10px;
	list-style-type: none;
	text-transform: uppercase;
	float: right;
}

#menu li {
	display: inline;
	border-right: 1px solid;
}

#menu li.first {
	border-right: 1px solid;
}

#menu li.last {
	border-right: 0 solid;
}

#menu li.selected {
	color: #826035;
}

#menu li a {
	text-decoration: none;
	padding: 10px;
	color: #4f2617;
}

#menu li a:hover {
	background-color: #94836E;
	color: #4f2617;
}

#body, #footer {
	padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
	_color: #4f2617;
	color: #4F6613;
}