<div class="content_panel">
	<h1>Betalda medlemmar</h1>
	<p>
		<%= @paid_users.size %> medlemmar har betalat medlemsavgift.
	</p>
	<p>
	<% @paid_users.each do |user| -%>
		<%= user.email%>;
	<% end -%>
	</p>
</div>

<div class="content_panel">
	<h1>Icke betalda medlemmar</h1>
	<p>
		<%= @none_paid_users.size %> medlemmar har inte betalat medlemsavgift.
	</p>
	<p>
	<% @none_paid_users.each do |user| -%>
		<%= user.email %>;
	<% end -%>
	</p>
</div>